<footer class="footer bg-dark text-white pt-4 pb-3">
  <div class="container fluid">
    <div class="row align-items-center border-bottom pb-4 mb-4">
     <div class="footer-logo d-inline-block">
 <img src="assets/logo.png" class="img-fluid" style="max-width: 140px;">

</div>


      <!-- Dirección y contacto -->
      <div class="col-12 col-md-5 text-center text-md-start mb-3 mb-md-0">
        <p class="mb-1">
          <i class="bi bi-geo-alt-fill me-2"></i>Bogotá 115, Cdad. Autónoma de Buenos Aires, Argentina
        </p>
        <p class="mb-0"><i class="bi bi-telephone-fill me-2"></i>+1 123 456 7890</p>
      </div>

      <!-- Redes sociales -->
      <div class="col-12 col-md-4 text-center text-md-end">
        <span class="d-block m-2">Social Media</span>
        <div class="social-icons">
          <a href="https://www.facebook.com/" class="text-white me-3" target="_blank"><i class="bi bi-facebook"></i></a>
          <a href="https://x.com/?lang=es" class="text-white me-3" target="_blank"><i class="bi bi-twitter"></i></a>
          <a href="https://www.linkedin.com/feed/" class="text-white me-3" target="_blank"><i class="bi bi-linkedin"></i></a>
          <a href="https://www.instagram.com/" class="text-white me-3" target="_blank"><i class="bi bi-instagram"></i></a>
          <a href="https://www.youtube.com/" class="text-white me-3" target="_blank"><i class="bi bi-youtube"></i></a>
        </div>
      </div>
    </div>

    <!-- Enlaces inferiores -->
    <div class="row align-items-center text-center text-md-start">
      <div class="col-12 col-md-8 mb-3 mb-md-0">
        <ul class="list-inline mb-0 small text-uppercase">
          <li class="list-inline-item me-3"><a href="#" class="text-white text-decoration-none">About Us</a></li>
          <li class="list-inline-item me-3"><a href="#" class="text-white text-decoration-none">Contact Us</a></li>
          <li class="list-inline-item me-3"><a href="#" class="text-white text-decoration-none">Help</a></li>
          <li class="list-inline-item me-3"><a href="#" class="text-white text-decoration-none">Privacy Policy</a></li>
          <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">Disclaimer</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-4 text-center text-md-end small">
        Copyright © 2025. Clínica ITLM
      </div>
    </div>
  </div>
</footer>
