.login-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: #fff;
}

/* IZQUIERDA */
.login-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 5rem;
  background: #fff;
  color: #333;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;

  img {
    width: 35px;
    height: 35px;
  }

  h3 {
    color: #00509e;
    font-weight: 600;
  }
}

.titulo{
  color: #00509e;
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 20px;
}

h2 {
  font-size: 2rem;
  color: #111;
  margin-bottom: 0.3rem;
}

p {
  color: #666;
  margin-bottom: 2rem;
}

.login-form {
  display: flex;
  flex-direction: column;

  label {
    font-size: 0.9rem;
    color: #333;
    margin-bottom: 0.3rem;
  }

  input {
    padding: 0.8rem;
    margin-bottom: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border 0.2s;

    &:focus {
      border-color: #00509e;
    }
  }

  .options {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 1.5rem;

    label {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      color: #555;
      font-size: 0.9rem;
    }

    a {
      color: #00509e;
      text-decoration: none;
      font-size: 0.9rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .btn-login {
    background: #00509e;
    color: white;
    border: none;
    padding: 0.9rem;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 1rem;
    transition: background 0.3s;

    &:hover {
      background: #00305f;
    }
  }

  .btn-google {
    background: white;
    border: 1px solid #ccc;
    color: #444;
    padding: 0.9rem;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all 0.2s;

    img {
      width: 20px;
      height: 20px;
    }

    &:hover {
      background: #f5f5f5;
    }
  }

  .register-text {
    margin-top: 1.5rem;
    text-align: center;
    color: #666;

    a {
      color: #00509e;
      text-decoration: none;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* DERECHA */
.right-section {
  position: relative;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

.right-section {
  flex: 1;
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #002a5b77;
    pointer-events: none;
    z-index: 2;
  }
}

.img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 3;
    color: white;
    width: 80%;
    max-width: 500px;

    h2 {
      color: white;
      font-size: 3rem;
      font-weight: 900;
      margin-bottom: 0.5rem;
      line-height: 50px;
    }

    p {
      color: white;
      font-size: 1.1rem;
      opacity: 0.9;
    }
  }

  /* ───────────────────────────────────────────── */
/*   MOBILE: Imagen arriba estilo banner         */
/* ───────────────────────────────────────────── */
@media (max-width: 900px) {
  .login-container {
    flex-direction: column-reverse !important; /* FORMULARIO abajo — Imagen arriba */
    padding: 0;
  }

  .login-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 3rem !important;   
    background: #fff;
    color: #333;
}

.h2{
  font-size: 1rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0rem !important;
    padding-bottom: 0px !important;
}
  .right-section {
    width: 100%;
    height: 180px;         /* Alto tipo banner */
    min-height: 180px;
    border-radius: 0;
  }

  .img-text {
    top: 200%;
    transform: translate(-50%, -50%);
  }
}
